beautifulsoup4==4.13.4
cbor==1.0.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
idna==3.10
ijson==3.4.0
inscriptis==2.6.0
ir_datasets==0.5.10
joblib==1.5.1
lxml==5.4.0
lz4==4.4.4
nltk==3.9.1
numpy==2.3.0
pandas==2.3.0
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rank-bm25==0.2.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
trec-car-tools==2.6
typing_extensions==4.14.0
tzdata==2025.2
unlzw3==0.2.3
urllib3==2.4.0
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
zlib-state==0.1.9
